/* 

=======================================================================
  Main CSS Style for Kuantan Singingi RIS (Road Information Systems) 
                         PPIDS - UGM

======================================================================= */




/*-------------------------------------------
		    Imports, main body
  ------------------------------------------- */

.largeIcon{
    font-size: 50px;
    padding-left: 35px;
    padding-right: 35px;
}

a:hover{
    text-decoration: none;
}

/*-------------------------------------------
		          Navbar
  ------------------------------------------- */

  
  
  
/*-------------------------------------------
		    Muka Peta
  ------------------------------------------- */
  
#mukapeta {
	background-color:#fff;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	height: 780px;
	width: 100%;
	display: block;
	padding: 40px 0 50px;
	
}


#mukapeta .map {
        height: 400px;
        width: 100%;
      }
	  
